.base {
  background: black;
}

.modalcolor{
  background-color: rgb(255, 255, 255)
}

.modaltitle{
  background-color: rgba(240, 240, 240, 0.989);
  color:rgb(255, 255, 255)
}

.navBar{
  background-color: rgb(0, 0, 0);
}

button.baseButton{
  background-color: rgb(150, 150, 150);
}

.navlinkclass{
  color: rgb(131, 131, 131);
}

.postheader{
  background-color: rgb(47, 101, 101);
}